body {
  background: black;
  color: white;
}

.button {
  font: bold 24px Arial;
  text-decoration: none;
  background-color: #E74C3C;
  color: #ECF0F1;
  padding: 3px 5px 3px 5px;
  border-top: 1px solid #FDFEFE;
  border-right: 1px solid #FDFEFE;
  border-bottom: 1px solid #FDFEFE;
  border-left: 1px solid #FDFEFE;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ECF0F1;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #3498DB;
  color: white;
}

td {
  color: black; /* Set table cell text color to black for contrast */
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}
