<html>
    <head>
        <font size = "6">
        <title>{{ title }} Home</title>
        <link rel="stylesheet" href='../static/style.css'/&gt;
        </font>
    </head>
    <body>
        <br><br>
        <h1>PiBackup by @richonguzman</h1>
        <br><br>
        <a href=pibackup ><button class=grey style="height:70px;width:300px;font-size: 48px">PiBackup</button></a>
        <br><br>
        <a href=pitimelapse ><button class=grey style="height:70px;width:360px;font-size: 48px">PiTimelapse</button></a>
        <br><br>
        <a href=piclone ><button class=grey style="height:70px;width:280px;font-size: 48px">PiClone</button></a>
        <br><br>
        <a href=piclean ><button class=grey style="height:70px;width:280px;font-size: 48px">PiClean</button></a>
        <br><br>
        <a href=piduplicated ><button class=grey style="height:70px;width:380px;font-size: 48px">PiDuplicated</button></a>
        <br><br>
        <br><br>
        <form method="post" action="/">
            <input type="submit" style="height:70px;width:360px;font-size:48px" value="Turn RP OFF" name="Turn RP OFF"/>
        </form>
    </body>
</html>
