<html>
    <head>
        <font size = "6">
        <title>{{ title }} PiDuplicated</title>
        <link rel="stylesheet" href='../static/style.css'/&gt;
        </font>
    </head>
    <body>
        <br><br>
        <h1>PiDuplicated Analysis on SSD</h1>
        <a href="/" ><button class=grey style="height:70px;width:220px;font-size:48px">Home</button></a>
        <br><br>
        <br><br>
        <form method="post" action="/piduplicated/">
            <input type="submit" style="height:70px;width:760px;font-size:48px" value="Duplicated JPG+RAW --> Log" name="DUP_LOG_JR"/>
            <br><br>
            <input type="submit" style="height:70px;width:760px;font-size:48px" value="DELETE Duplicated JPG+RAW" name="DUP_DELETE_JR"/>
            <br><br>
            <br><br>
            <input type="submit" style="height:70px;width:620px;font-size:48px" value="Duplicated JPG --> Log" name="DUP_LOG_J"/>
            <br><br>
            <input type="submit" style="height:70px;width:630px;font-size:48px" value="Duplicated RAW --> Log" name="DUP_LOG_R"/>
            <br><br>
            <input type="submit" style="height:70px;width:920px;font-size:48px" value="Duplicated JPG+RAW+VIDEO --> Log" name="DUP_LOG_JRV"/>
            <br><br>
            <br><br>
            <input type="submit" style="height:70px;width:620px;font-size:48px" value="DELETE Duplicated JPG" name="DUP_DELETE_J"/>
            <br><br>
            <input type="submit" style="height:70px;width:630px;font-size:48px" value="DELETE Duplicated RAW" name="DUP_DELETE_R"/>
            <br><br>
            <input type="submit" style="height:70px;width:920px;font-size:48px" value="DELETE Duplicated JPG+RAW+VIDEO" name="DUP_DELETE_JRV"/>
        </form>
    </body>
</html>
